#contato{
  width: 50rem;
  display: flex;
  margin-top: 100px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-floating textarea{
  height: 160px !important;
}

#contato h2{
  text-align: center;
  color: #311f0e;
}